[Unit]
Description=Znc
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/opt/bin/docker-compose -f /root/znc_docker/docker-compose.yml down
ExecStartPre=-/usr/bin/git --git-dir=/root/znc_docker/.git pull
ExecStart=/opt/bin/docker-compose -f /root/znc_docker/docker-compose.yml up -d
